<div class="row">
    <div class="small-12 columns text-center">
        <h1 style="font-family: 'Satisfy', cursive; text-align:center; font-size:5rem;">Welcome to Hangman!</h1>

        <br />
    </div>
</div>

<div class="row">
    <div class="small-12 <%= current_game.present? && !current_game.finished? ? 'medium-6' : '' %> columns">
        <%= link_to new_game_path, :class => 'button expand hoverable' do %>
            <i class="fa fa-play"> New game</i>
        <% end %>
    </div>

    <% if current_game.present? && !current_game.finished? %>
        <div class="small-12 medium-6 columns">
            <%= link_to game_path, :class => 'button expand hoverable' do %>
                <i class="fa fa-refresh"> Continue game</i>
            <% end %>
        </div>
    <% end %>
    <br /><br /><br /><br />
    <div style="padding:5px;">
      <p style="font-family: 'Satisfy', cursive; text-align:left; font-size:30px;">Hey Man, hit those 'buts', and see if you can find the right word.</p>
          <p style="font-family: 'Satisfy', cursive; text-align:right;font-size:30px;">Be careful though, if you fail to do so within the required attemps;</p>
        <p style="font-family: 'Satisfy', cursive; text-align:center;font-size:32px;">You'll be Hang-Man.</p>
      <img style="width:200px; height:auto;" src="https://i.ytimg.com/vi/Cz_XFY6CZ1c/maxresdefault.jpg" />
      <br /><br /><br />
        <div style="padding:5px;">
      <p style="font-family: 'Roboto', cursive; text-align:right; font-size:18px;">Milou Post</p>
          <p style="font-family: 'Roboto', cursive; text-align:right;font-size:18px;">Khalil Gharbaoui</p>
        <p style="font-family: 'Roboto', cursive; text-align:right;font-size:18px;">Chiel Hackman</p>
        <br /><br />
        <div class="codatitle"><a href="http://www.codaisseur.com">
        <span>:{<small>)</small></span>
        Codaisseur
      </a></div>

  
</div>
    </div>
</div>
