<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Codaisseur Hackaton 2016" %></title>




    <link href="/assets/foundation_and_overrides.css?body=1" media="screen" rel="stylesheet" />
    <link href="/assets/games.css?body=1" media="screen" rel="stylesheet" />
    <link href="/assets/home.css?body=1" media="screen" rel="stylesheet" />
    <link href="/assets/application.css?body=1" media="screen" rel="stylesheet" />
    <link href="/assets/font-awesome.css?body=1" media="screen" rel="stylesheet" />
        <script src="/assets/vendor/modernizr.js?body=1"></script>





  
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
